
<div >
  <div>
    <h1>
      La mia videoteca
    </h1>
    <h2>
      La mia videoteca contiene film appartenenti a generi differenti
    </h2>
  </div> 
  <div style="height:3em;">
    <button (click)="chooseGenre('Avventura')"> Avventura </button>
    <button (click)="chooseGenre('Commedia')"> Commedia </button>
    <button (click)="chooseGenre('Horror')"> Horror </button>
    <button (click)="chooseGenre('Romantico')"> Romantico </button>
    <button (click)="chooseGenre('Thriller')"> Thriller </button>
  </div>
</div>
