<div>
  <div>
    <h1>
      La mia videoteca
    </h1>
    <h2>
      La mia videoteca contiene film appartenenti a generi differenti
    </h2>
  </div>
  <div style="height:3em;">
    <button *ngFor="let genre of genres" (click)="chooseGenre(genre.name)"> {{genre.name}} </button>
    <!--
    <button (click)="chooseGenre('Commedia')"> Commedia </button>
    <button (click)="chooseGenre('Horror')"> Horror </button>
    <button (click)="chooseGenre('Romantico')"> Romantico </button>
    <button (click)="chooseGenre('Thriller')"> Thriller </button>
    <button (click)="chooseGenre('Qualsiasi')"> Qualsiasi </button>-->
  </div>
</div>